
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Venv
.venv/
venv/
ENV/
env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/

# Env
.env

# IDE
.vscode/
.idea/

# Tests / coverage
.pytest_cache/
.tox/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
